__pycache__
.env
.serena
.claude/settings.local.json
PRPs/local
PRPs/completed/
/logs/
# <<<<<<< agent-client-protocol-poc
.zed
tmp/
temp/
# <<<<<<< lava-retail
# =======
/volumes/
# >>>>>>> lava-retail
# =======
UAT/
# >>>>>>> main
